@model FullViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* Here the categories lays *@
    <div class="CategoryBox">
        @if (Model.Categorys != null)
        {
            @foreach (var item in Model.Categorys)
            {
                <div class="CategoryStyle">
                    <h5>
                        @item.Name
                    </h5>

                    <div class="SubcategoriesBox">
                        @if (Model.SubCategorys != null)
                        {
                            foreach (var sub in Model.SubCategorys.Where(s => s.CategoryId == item.Id)) // A check to grab those SubCategories from right category
                            {
                                <div class="SubcategoriesStyle">
                                    <p><a asp-controller="Category" asp-action="Subcategory" asp-route-id="@sub.Id">@sub.Name</a></p>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>

    <div class="posts">
        @foreach (var item in Model.Posts)
        {
            <div class="post">
                <div class="post-content">
                    <p style="margin-bottom: -1px;">
                        <a asp-controller="Post" asp-action="ReadPost" asp-route-id="@item.Id" style="text-decoration: none;">@item.Description</a>
                        <b>By</b> 
                        <a asp-controller="Member" asp-action="Guest" asp-route-id="@item.Member.Id">@item.Member.UserName</a>
                        - 
                        <b>@item.Created</b>
                    </p>
                </div>
                <div class="post-meta">
                    <span>@item.Like Likes</span>
                    <span>@item.View Views</span>
                    <span>@item.Reply Replies</span>
                </div>
            </div>
        }
    </div>


</div>

@* Top 10 post by reply here *@
<div class="recent-post-pinned">
    <div class="recent-post-pinned-header">
        <h3>Top Posts:</h3>
    </div>
    <div style="margin: 0.4rem;">
        @if (Model.Top10Posts != null)
        {
            @foreach (var item in Model.Top10Posts)
            {
                <p><a asp-controller="Post" asp-action="ReadPost" asp-route-id="@item.Id">@item.Description</a> - @item.Created </p>
            }
        }
    </div>
</div>
