@model FullViewModel
@{
    ViewData["Title"] = "Create Post";

}

<div>
    <form asp-controller="Post" asp-action="CreatePost" method="post" enctype="multipart/form-data">

        <input class="form-control" type="hidden" asp-for="@Model.Post.SubCategoryId" />
        <input type="hidden" asp-for="@Model.Post.MemberId" />

        <label asp-for="@Model.Post.Description"></label><br />
        <input class="form-control" type="text" asp-for="@Model.Post.Description" required style="width: 20rem; " />
        <span asp-validation-for="@Model.Post.Description"></span>
           

        <label asp-for="@Model.Post.Text"></label><br />
        <textarea asp-for="@Model.Post.Text" required style="width: 20rem; height: 5rem;" class="form-control"></textarea>
        <span asp-validation-for="@Model.Post.Text"></span>
        <br />

        <input class="form-control" asp-for="@Model.UploadedImage" /><br />
        
        <br />

        <div asp-validation-summary="All" class="text-danger" style="margin-top: 1rem;">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>

    </form>
</div>