@model FullViewModel
@{
    ViewData["Title"] = "Update Post";

}

<div>
    <form asp-controller="Post" asp-action="UpdatePost" enctype="multipart/form-data">

        <input type="hidden" asp-for="@Model.Post.SubCategoryId" />
        <input type="hidden" asp-for="@Model.Post.MemberId" />
        <input type="hidden" asp-for="@Model.Post.Id" />
        <input type="hidden" asp-for="@Model.Post.Created" value="@Model.Post.Created" />
        <input type="hidden" asp-for="@Model.Post.Reported" value="@Model.Post.Reported" />
        <input type="hidden" asp-for="@Model.Post.ImagePath" value="@Model.Post.ImagePath" />

        <label asp-for="@Model.Post.Description"></label><br />
        <input class="form-control" type="text" asp-for="@Model.Post.Description" style="width: 20rem;" required />
        <span asp-validation-for="@Model.Post.Description"></span>
       

        <label asp-for="Text"></label><br />
        <textarea class="form-control" asp-for="@Model.Post.Text" style="width: 20rem; height: 5rem;" required></textarea>
        <span asp-validation-for="Text"></span>
        <br />
        <h5>Current picture</h5>
        <img src="@Model.Post.ImagePath" alt="Profile picture" style="width:150px;height:150px;object-fit:cover;" />
        <input class="form-control" asp-for="@Model.UploadedImage" /><br />
        <br />

        <div asp-validation-summary="All" class="text-danger" style="margin-top: 1rem;">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

    </form>
</div>