@model Entities
@{
    ViewData["Title"] = "Login";
}

<div>
    @if (Model.Member.Email == null)
    {
        <form asp-controller="Member" asp-action="ForgotPassword" method="get">

            <label asp-for="@Model.Member.Email"></label>
            <br />
            <input type="text" name="email" value="@Model.Member.Email">
            <span asp-validation-for="@Model.Member.Email"></span>
            <br />

            <button class="btn btn-primary" type="submit">Update</button>
        </form>
        <br />
        @if (Model.Password != null)
        {
            <p>Your new Password is: @Model.Password</p>
        }
    }

    @if (Model.Members != null)
    {
        @foreach (var member in Model.Members)
        {
            if (Model.Member.Email == member.Email)
            {
                <p>Name: @Model.Member.FirstName</p>

                <p>Lastname: @Model.Member.LastName</p>

                <p>Username: @Model.Member.UserName</p>
                <br />
                <p>Is this right?</p>

                <form asp-controller="Member" asp-action="ForgotPassword">
                    <input type="hidden" asp-for="@Model.Member.Email" value="@Model.Member.Email" />


                    <button class="btn btn-primary" type="submit">Request new Password</button>
                </form>
            }
        }
    }

</div>