@model Views
@{
	ViewData["Title"] = "Guest";
}
<div class="three-in-row">
	<div>
	</div>
	<div>
		<h1>@ViewData["Title"] Page</h1>

		<p>Here you see your information and to update them </p>

		<p><b>First name: </b>@Model.Member.FirstName</p>
		<p><b>Last name: </b>@Model.Member.LastName</p>
		<p><b>Age: </b>@Model.Member.Age</p>
		<p><b>Email: </b>@Model.Member.Email</p>
		<br />
		<p><b>Username: </b>@Model.Member.UserName</p>
		<p><b>Views on profile: </b>@Model.Member.ProfileViews</p>
		<p><b>Member since: </b>@Model.Member.RegisteryDate</p>
		<br />
		<p><b>Total post: </b>@Model.Member.TotalPosts</p>
		<p><b>Total replies: </b>@Model.Member.TotalReply</p>
	</div>

	<div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		@if (Model.Admin != null)
		{

			if (Model.Admin.Id == Context.Session.GetInt32("UserId"))
			{
				<p>Warnings on profile: @Model.Member.Reports</p>
				<a asp-controller="Member" asp-action="memberWarning" asp-route-id="@Model.Member.Id"><button type="Submit">Warn Member</button></a>

			}
			if (Model.Admin.IsOwner)
			{
				<br />
				<br />
				<br />
				<form asp-controller="Member" asp-action="MakeAdmin">
					<input type="hidden" id="Id" name="Id" value="@Model.Member.Id">
					<p>
						Make this user an Admin:
						<input type="checkbox" id="IsAdmin" name="IsAdmin" value="true" @(Model.Member.IsAdmin ? " checked" : "") />
					</p>
					<button type="submit">Submit</button>
				</form>
			}

		}
	</div>
</div>