@model Entities
@{
	ViewData["Title"] = "Guest";
}
<div class="three-in-row">
	<div style="display: flex; width: 20rem;">

	</div>

	<div style="display: flex; flex-direction:column; align-items:center; width: 80%;">
		<h1>@ViewData["Title"] Page</h1>
		<br />

		<img src="@Model.Member.ProfileImagePath" alt="Profile picture" style="width:150px;height:150px;object-fit:cover;" />
		<br />
		<br />

		<p><b>First name: </b>@Model.Member.FirstName</p>
		<p><b>Last name: </b>@Model.Member.LastName</p>
		<p><b>Age: </b>@Model.Member.Age</p>		
		<br />
		<p><b>Username: </b>@Model.Member.UserName</p>
		<p><b>Views on profile: </b>@Model.Member.MemberViews.Count()</p>
		<p><b>Member since: </b></p>
		<p style="margin-top: -1rem;">@Model.Member.RegisteryDate</p>
		<br />
		<p><b>Total post: </b>@Model.Member.TotalPosts</p>
		<p><b>Total replies: </b>@Model.Member.TotalReply</p>
	</div>

	<div style="display: flex; width: 20rem; flex-direction:column;">
		@if (Model.Admin != null)
		{
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />

			if (Model.Admin.Id == Context.Session.GetInt32("UserId"))
			{
				<p>Warnings on profile: @Model.Member.Reports</p>
				<a asp-controller="Member" asp-action="memberWarning" asp-route-id="@Model.Member.Id"><button type="Submit" style="width: 8rem;">Warn Member</button></a>

			}
			if (Model.Admin.IsOwner)
			{
				<br />
				<br />
				<br />
				<form asp-controller="Member" asp-action="MakeAdmin">
					<input type="hidden" id="Id" name="Id" value="@Model.Member.Id">
					<p>
						Make this user an Admin:
						<input type="checkbox" id="IsAdmin" name="IsAdmin" value="true" @(Model.Member.IsAdmin ? " checked" : "") />
					</p>
					<button type="submit">Submit</button>
				</form>
			}

		}
	</div>
</div>