@model FullViewModel
@{
    ViewData["Title"] = "Profile";
    
}
<h1>@ViewData["Title"] Page</h1>
<br />

<img src="@Model.Member.ProfileImagePath" alt="Profile picture" style="width:150px;height:150px;object-fit:cover;" />
<br />
<br />

<p><b>First name: </b>@Model.Member.FirstName</p>
<p><b>Last name: </b>@Model.Member.LastName</p>
<p><b>Age: </b>@Model.Member.Age</p>
<p><b>Email: </b>@Model.Member.Email</p>
<br />
<p><b>Username: </b>@Model.Member.UserName</p>
<p><b>Views on profile: </b>@Model.Member.ProfileViews</p>
<p><b>Member since: </b>@Model.Member.RegisteryDate</p>
<br />
<p><b>Total post from you: </b>@Model.Member.TotalPosts</p>
<p><b>Total replies from you: </b>@Model.Member.TotalReply</p>
<br />
<p><b>Total reports: </b>@Model.Member.Reports</p>

<br />
<a asp-controller="Member" asp-action="Update" asp-route-Id="@Model.Member.Id">Update info</a>


